<mat-form-field class="search-bar">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="search" />
</mat-form-field>

<a href="http://google.com"><mat-icon>search</mat-icon></a>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Note
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="toDoForm">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button [disabled]="toDoForm.invalid" (click)="save()">
        Save
      </button>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let task of tasks" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ task.description }}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="days_between(task.dueDate, today) < 7">{{
          task.dueDate | date: 'EEEE hh:mm a'
        }}</span>
        <span *ngIf="days_between(task.dueDate, today) >= 7">{{
          task.dueDate | date: 'MMM d, h:mm a'
        }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
