<mat-form-field class="search-bar">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="search" />
</mat-form-field>

<a href="http://google.com"><mat-icon>search</mat-icon></a>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>ALL</ng-template>
    <mat-grid-list cols="7" rowHeight="1:1" gutterSize="20">
      <button class="add-note-button" (click)="addNote()">
        <mat-grid-tile>
          <mat-icon>add</mat-icon>
        </mat-grid-tile>
      </button>
      <mat-grid-tile *ngFor="let task of tasks" hideToggle="true">
        {{ task.description }}
        <span *ngIf="days_between(task.dueDate, today) < 7">{{
          task.dueDate | date: 'EEEE hh:mm a'
        }}</span>
        <span *ngIf="days_between(task.dueDate, today) >= 7">{{
          task.dueDate | date: 'MMM d, h:mm a'
        }}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>PRIMARY</ng-template>
    <p>Content 2</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>WORK</ng-template>
    <p>Content 3</p>
  </mat-tab>
</mat-tab-group>
<!--

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>ALL</ng-template>
    <p>Content 1</p>
    <mat-grid-list cols="4" rowHeight="1:1" gutterSize="60">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group> -->
